@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #05050A;
  font-family: 'Rajdhani', sans-serif;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  color: #f5f5f6;
}

.page > header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.page > .container {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.page > .cover-page {
  position: relative;
}

.page > .text-box {
  position: relative;
  padding: 50px 30px;
  background: #CCD6DD;
  color: #444;
}

@media only screen and (max-width: 600px) {
  .page > header {
    padding: 5px;
  }
}

/* stars */

.star {
  position: absolute;
  z-index: -2;
  display: block;
  border-radius: 50%;
  background: #FFF;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1);
  animation: light ease-in-out infinite;
  transition: animation .3s;
}

@keyframes light {
  0%, 100% {
    opacity: 0.5;
  }
  
  50%, 90% {
    opacity: 1;
  }
}



/* header page */

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  mix-blend-mode: difference;
}

.menu .dropdown-content {
  display: flex !important;
  gap: 15px;
}

.dropdown input[type='checkbox'] {
  display: none;
}

.menu a {
  color: #f5f5f5;
  padding: 10px 30px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.18);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.menu a:active {
  background: rgba(255, 255, 255, 0.35);
}


@media only screen and (max-width: 600px) {
  .logo {
    padding: 20px 10px;
  }
  
  .dropdown {
    width: max-content;
    height: max-content;
    overflow: hidden;
  }
  
  .dropdown-item {
    margin: 10px 0;
  }
  
  .menu a {
    color: #151518;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .menu a:active {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .hamburguer {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85px;
    height: 85px;
    overflow: hidden;
    transform: scale(0.7);
  }
  
  .hamburguer span {
    display: block;
    width: 65px;
    height: 9px;
    border-radius: 50px;
    background: #f5f5f5;
    transition: transform, opacity, width;
    transition-duration: .2s;
  }
  
  
  .dropdown-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    min-height: 100vh;
    transition: 200ms width;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #check01:checked ~ .hamburguer span:nth-child(1) {
  transform:
    translateY(23.3px)
    rotate(45deg)
    rotateY(180deg);
  }
  
  #check01:checked ~ .hamburguer span:nth-child(2) {
    transform: 
      rotateY(90deg)
      rotateX(360deg);
  }
  
  #check01:checked ~ .hamburguer span:nth-child(3) {
    transform:
      translateY(-23.3px)
      rotate(-45deg)
      rotateY(180deg);
  }
  
  #check01:checked ~ .dropdown-content {
    width: 100%;
    background: #f5f5f5;
  }
  
  #check01:checked ~ .hamburguer span {
    background: #151518;
    text-shadow: none;
  }
}



/* cover page */

img {
  width: 300px;
}

.fixed-title,
#sun,
#earth,
#blue-planet,
#moon,
#astronaut {
  position: absolute;
}

.fixed-title {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.fixed-title h1 span {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 2px;
}

.btn-cover-page {
  border: none;
  padding: 10px 30px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #f5f5f5;
  color: #444;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 100ms box-shadow;
  outline: none;
}

.btn-cover-page:active {
  background: transparent;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
}

#sun {
  top: 0;
  left: 0;
  width: 40%;
  transform: translate(-40%, -60%);
  filter: drop-shadow(0 0 35px #F8CD02);
}

#earth {
  top: 40%;
  right: 10%;
  width: 150px;
}

#blue-planet {
  /* z-index: 1; */
  top: 30%;
  left: 20%;
  width: 150px;
}

#moon {
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#astronaut {
  left: 10%;
  bottom: 20%;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  #sun {
    width: 300px;
  }
  
  #earth {
    top: 30%;
    right: 10%;
    width: 100px;
  }
  
  #blue-planet {
    top: 20%;
    left: 10%;
    width: 100px;
  }
  
  #astronaut {
    width: 65px;
  }
}


/* text box */

.text-box > h2 {
  margin: 20px 10px;
}

.text-box > p {
  font-weight: 500;
  margin: 20px 10px;
}